.container {
    padding-top: 30px;
    width: 70% !important;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}

.grey {
    color: grey;
}

.lighter { 
    font-weight: lighter;
}

.calc {
    display: flex;
    background-color: rgb(207, 207, 207);
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.calc::nth-child(1) {
    margin-right: 20px;
}

.flex {
    display: flex;
}

.select {
    width: 85px !important;
}

.control {
    width: 300px !important;
}

.arrow {
    width: 20px;
    height: 20px;
    margin: 8px 20px 0 20px;
}